body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.main-title {
  padding-top: 30px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px; 
  height: auto;
}

.section {
  margin-top: 40px;  
  margin-bottom: 48px;
}

.center {
  text-align: center;
}

.team-list {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: table; /* or use display: inline-block; */
}

.main-title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 24px;
}

.highlight {
  color: #06402B;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
}

.card {
  flex: 1 1 45%;
  min-width: 280px;
  text-align: center;
  border: none !important;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  min-height: 250px;       /* optional: set a height for vertical centering */
}

.description {
  text-align: center;
  font-size: 1.2rem;
  margin: 50px auto;
  max-width: 800px;
}

.sub-title {
  color: #06402B;
  font-size: 1.5rem;
  margin-bottom: 12px;
  font-weight: 600;
}

.features-list,
.team-list {
  list-style: disc;
  padding-left: 20px;
  text-align: left;
  margin: 12px auto;
  max-width: 600px;
}

